{% extends 'forum/base.html' %}

{% block main_page %}
<h1>Register</h1>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
  {{ form.as_p }}
  <p><button type="submit">Registr -></button></p>
</form>
<!--<div class="login-form">-->
<!--  <form>-->

<!--    <div class="content">-->
<!--      <div class="input-field">-->
<!--        <input type="email" placeholder="Email" autocomplete="nope">-->
<!--      </div>-->
<!--      <div class="input-field">-->
<!--        <input type="password" placeholder="Password" autocomplete="new-password">-->
<!--      </div>-->
<!--      <a href="#" class="link">Forgot Your Password?</a>-->
<!--    </div>-->
<!--    <div class="action">-->
<!--      <button>Register</button>-->
<!--      <button>Sign in</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->



{% endblock %}